body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkgray;
    font-family: sans-serif;
    overflow: auto;
}

.group {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group textarea {
    width: 95%;
    height: 100%;
    overflow: auto;
    font-size: 1.2em;
    border: .2em black solid;
}

.group label {
    text-align: center;
}

.codeDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 85%;
}

.list {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    background-color: white;
    padding: .5em;
    border: 1px black solid;
}

.copyInfo {
    position: absolute;
    width: 15%;
    height: 5%;
    background-color: white;
    border: .1em black solid;
    border-radius: 2px;
    top: -8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn i{
    font-size: 2em;
    text-align: center;
}

.show {
    display: flex;
    animation-name: show;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes show {
    0% {
        top: -8%;
    }

    25% {
        top: 2%;
    }

    70% {
        top: 2%;
    }

    100% {
        top: -8%
    }
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.setPanel {
    display: flex;
    position: relative;
    width: 70em;
    height: 25em;
    background: white;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.setPanel div {
    display: flex;
    flex-direction: row;
}

.setPanel div div {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.setPanel div div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.setPanel div div label h3 {
    margin: 1em .5em;
}

.checkBox label {
    position: relative;
    width: 3em;
    height: 1.5em;

}

.checkBox input {
    appearance: none;
}

.checkBox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background: gray;
    transition: .5s;
}

.checkBox span::after {
    content: '';
    font-size: 1em;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 40%;
    height: 80%;
    background: white;
    border-radius: 50%;
    transition: .3s;
}

.checkBox input:checked~span {
    background: green;
}

.checkBox input:checked~span::after {
    left: 55%;
}

.closeBtn {
    display: flex;
    background: none;
    border: 0;
    padding: 2px;
    z-index: 5;
    position: relative;
    top: 2.1em;
}

.closeBtn:hover{
    background: rgba(0, 0, 0, 0.3);
}